@()

@main("Encrypt Decrypt") {
    <form method="POST" url="/encrypt" id="form1">
        <label for="unecryptedtext">Text to encrypt with signature: </label><br/>
        <input type="text" id="unecryptedtext" name="unecryptedtext"><br/>
        <input type="submit"><br/>
    </form>
    <div>
        <span id="encrypted_text"></span>
        <span id="signature_match"></span>
    </div>

    <form method="POST" url="/decrypt" id="form2">
        <label for="decryptedtext">Text to decrypt with signature: </label><br/>
        <input type="text" id="decryptedtext" name="deecryptedtext"><br/>
        <input type="submit"><br/>
    </form>
    <div>
        <span id="decrypted_text"></span>
        <span id="decrypted_signature_match"></span>
    </div>
    <script type="text/javascript">
        window.onload = function() {
            var encrpyt_form = document.getElementById('form1');
            encrpyt_form.addEventListener("submit", encrypt, false);

            var decrypted_form = document.getElementById('form2');
            decrypted_form.addEventListener("submit", decrypt, false);
        }

        function encrypt(event) {
            event.preventDefault();

            let unencrypted_value = document.getElementById('unecryptedtext').value;
            fetch('/encrypt', {
                method: 'POST',
                body: JSON.stringify({
                    unencrypted: unencrypted_value
                }),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                }
            }).then(function (response) {
                if (response.ok) {
                    return response.json();
                }
                return Promise.reject(response);
            }).then(function (data) {
                if (data.encrypted)
                {
                    document.getElementById('encrypted_text').textContent = data.encrypted;
                }
            }).catch(function (error) {
                console.warn('Something went wrong.', error);
            });
        }

        function decrypt(event) {
            event.preventDefault();
        }
    </script>
}
